CONTAINER_PREFIX=lamp-docker

# If you already has the port 8800 in use, you can change it
HOST_MACHINE_PHPMYADMIN_PORT=8800

# If you already has the port 8080 in use, you can change it (for example if you have Apache)
HOST_MACHINE_UNSECURE_HOST_PORT=8080
HOST_MACHINE_SECURE_HOST_PORT=8443

# If you already has the port 3306 in use, you can change it (for example if you have MySQL)
HOST_MACHINE_MYSQL_PORT=3306

# MySQL root user password
MYSQL_ROOT_PASSWORD=root

# Database settings: username, password and database name
MYSQL_USER=lamp
MYSQL_PASSWORD=lamp
MYSQL_DATABASE=lamp